@page "/albums/{albumId:int}/edit"
@model Chinook.Pages.Albums.Edit
@{
    ViewData["Title"] = "Edit";
}

<div class="container-xl">
    <div class="page-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <form method="post">
                        <div class="card-body">
                            <h3 class="card-title">@Model.Album.Title</h3>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Album.Title">Title</label>
                                <input class="form-control" asp-for="Album.Title" asp-validation-for="Album.Title"/>
                                <span class="invalid-feedback" asp-validation-for="Album.Title"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Album.ArtistId">Artist</label>
                                <select class="form-select js-select" asp-for="Album.ArtistId" asp-items="@(new SelectList(Model.Artists, "ArtistId", "Name"))">
                                    <option>Please select one</option>
                                </select>
                            </div>
                            <input type="hidden" asp-for="Album.AlbumId"/>
                        </div>
                        <!-- Card footer -->
                        <div class="card-footer">
                            <div class="d-flex">
                                <a href="javascript:history.go(-1);" class="btn btn-link">Cancel</a>
                                <button type="submit" class="btn btn-primary ms-auto">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>