/* Places footer on bottom of page */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.footer {
    margin-top: auto;
}


/* Prevents table overflow with one result */
.table-responsive {
    overflow-x: initial;
    -webkit-overflow-scrolling: touch;
}

.table-responsive-md td {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Buttons need to be able to overflow*/
.table-responsive-md td:last-child {
    overflow: unset;
}

/* Adds tabler invalid styles on razor validation classes */

.field-validation-error {
    display: block;
}

.input-validation-error {
    padding-right: calc(1.4285714em + .875rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d63939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.3571429em + .21875rem) center;
    background-size: calc(.7142857em + .4375rem) calc(.7142857em + .4375rem);
    border-color: #d63939;
}


/* Overwrites Select2 to resemble tabler*/

.select2-selection__rendered {
    display: block;
    width: 100%;
    padding: .4375rem 2.25rem .4375rem .75rem;
    padding-left: 12px !important;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714 !important;
    color: #232e3c;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '0 0 16 16' %3e%3cpath fill= 'none' stroke= '%23dadcde' stroke-linecap= 'round' stroke-linejoin= 'round' stroke-width= '2' d= 'M2 5l6 6 6-6' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #dadcde;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-selection.select2-selection--single {
    border: none;
}

.select2-selection__arrow {
    display: none;
}

.select2-container .select2-selection--single {
    height: unset;
}


.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
    border-radius: 4px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
}

.select2-dropdown {
    border: 1px solid #dadcde;
    border-radius: 0 0 4px 4px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--tblr-azure);
    color: white;
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--tblr-light);
}

.select2-results__option {
    padding: .4375rem 2.25rem .4375rem .75rem;
}

.select2-container {
    border-radius: 4px;
    border: 1px solid transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-container--focus {
    color: inherit;
    background-color: #fff;
    border: 1px solid #90b5e2;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(32 107 196 / 25%);
    outline: none;
}

span.selection:focus,
span.select2-selection:focus {
    outline: none;
}