@page
@model Chinook.Pages.Artists.New;
@{
    ViewData["Title"] = "New Artist";
    ViewData["Entity"] = "Artist";
}

<div class="page-header">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <form method="post">
                        <div class="card-body">
                            <h3 class="card-title">New Artist</h3>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Artist.Name">Name</label>
                                <input class="form-control" asp-for="Artist.Name"/>
                                <span class="invalid-feedback" asp-validation-for="Artist.Name"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex">
                                <a href="javascript:history.go(-1);" class="btn btn-link">Cancel</a>
                                <button type="submit" class="btn btn-primary ms-auto">Save Artist</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>